.w-4.svelte-16967fo{width:1rem}.h-4.svelte-16967fo{height:1rem}.w-full.svelte-16967fo{width:100%}.cursor-pointer.svelte-16967fo{cursor:pointer}.hidden.svelte-16967fo{display:none}textarea.form-input.svelte-16967fo{resize:vertical}
